<div class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
  <app-header></app-header>
  <div class="app-body">
    <app-sidebar></app-sidebar>
    <main class="main">
      <div class="container-fluid mt-4">
        <div class="row" *ngIf="dashboardLandingPage">
          <div class="col-sm-12">
            <h4>{{ greetUser | greetingForTime }}, You are welcome to my first Angular 6 Application</h4>
          </div>
        </div>
        <div class="animated fadeIn">
          <router-outlet></router-outlet>
        </div>
      </div>
    </main>
  </div>
</div>